<!--
  <%= banner %>
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="<%= base %>/dist/commons.js"></script>
    <script src="<%= base %>/dist/<%= index %>-<%= source %>.bundle.js"></script>
    <title>RGL Example <%= index %> - <%= title %></title>
    <style>
      button {
        margin: 1em;
        background: #cfd7ff;
        color: #0a0a0a;
        border: 1px solid #4e57ef;
        box-shadow: 3px 4px 0px #4e57ef;
      }
    </style>
  </head>
  <body>
    <h3>React-Grid-Layout Demo <%= index %> - <%= title %></h3>
    <ul>
      <li><a href="https://github.com/STRML/react-grid-layout">View project on GitHub</a></li>
      <li><a href="https://github.com/STRML/react-grid-layout/blob/master/test/examples/<%= index %>-<%= source %>.jsx">View this example's source</a></li>
    <% if (previous) { %>
      <li><a href="<%= index - 1 %>-<%= previous.source %>.html"><b>⇠</b> View the previous example: "<%= previous.title %>"</a></li>
    <% } -%>
    <% if (next) { %>
      <li><a href="<%= index + 1 %>-<%= next.source %>.html"><b>⇢ </b>View the next example: "<%= next.title %>"</a></li>
    <% } -%>
    </ul>
    <% for(var i = 0; i < paragraphs.length; i++) { -%>
       <p><%- paragraphs[i] %></p>
    <% } -%>
    <div id="content"></div>
  </body>
</html>
